@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: url(Images/BackgroundImage2.png);
  background-size: cover;
  color: white;
  max-width: 90%;
  max-height: 90%;
}

html{
  zoom:90%;
}

.top-box{
  display:grid;
  grid-template-columns: 1fr 1fr;
  height: 80px;
}
.sidebar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  width: 800px;
  margin-top: 50px;
  color: white;
  margin-left: 180px;
  font-size: 24px;
}

.login-buttons{
  align-self:center;
  padding-left: 475px;
  padding-top: 0px;
}

.login{
  font-size: 20px;
  color: white;
  background: none;
  border-style: none;
  padding-right: 64px; 
  padding-left: 64px;
  padding-top: 9px; 
  padding-bottom: 9px; 
  margin-top: 50px;
  margin-left: 0px;
  font-weight: bold;
  transition: background-color 0.35s, color 0.35s;
  opacity: 0.5; 
  filter: alpha(opacity=40);
  transition: opacity, 0.35s, text-shadow, 0.35s;
}

.login:hover{
  cursor: pointer;
  opacity: 1.0;
  filter: alpha(opacity=100);
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc; 
}

.sign-up{
  font-size: 20px;
  background-color: white;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  color: #313951;
  padding-right: 64px; 
  padding-left: 64px;
  padding-top: 9px; 
  padding-bottom: 9px; 
  border-radius: 2px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 0px;
  font-weight: bold;
  transition: background-color 0.35s, color 0.35s;
}

.sign-up:hover{
  background-color: #1F2434;
  color: white;
}

.features, .plans, .why-us{
  opacity: 0.5; 
  filter: alpha(opacity=40);
  transition: opacity, 0.35s, text-shadow, 0.35s;
}

.features:hover, .plans:hover, .why-us:hover{
  cursor: pointer;
  opacity: 1.0;
  filter: alpha(opacity=100);
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc; 
}

.home{
  opacity: 1.0;
  filter: alpha(opacity=100);
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc; 
}

.home:hover{
  cursor: pointer;
  opacity: 0.5; 
  filter: alpha(opacity=40);
  transition: opacity, 0.35s, text-shadow, 0.35s;
}

.welcome-panel{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 250px;
  margin-top: 100px;
  width: 1200px;
  height: 650px;
}

.home-image{
  background: url(Images/0001.png);
  background-repeat: no-repeat;
  height: 710px;
  width:300px;
  margin-left: 100px;
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-40px);
	}
	100% {
		transform: translatey(0px);
	}
}

.home-text-button{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 680px;
  height: 350px;
}

.title-text{
  font-size: 72px;
  font-weight: 700;
}

.title-sub-text{
  font-size: 28px;
  font-weight: 300;
  margin-top: 15px;
  width: 650px;
}

.start-trading{
  font-size: 20px;
  background-color: #313951;
  border-color: #313951;
  border-style: solid;
  border-width: 1px;
  color: white;
  padding-right: 128px; 
  padding-left: 128px;
  padding-top: 18px; 
  padding-bottom: 18px; 
  border-radius: 2px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 0px;
  font-weight: bold;
  transition: background-color 0.35s, color 0.35s;
}

.start-trading:hover{
  background-color: white;
  color: #1F2434;
}

.start-trading:active{
  opacity:0.7;
}

.logos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-right: 0px;
  justify-content: left;
}

.eth-logo{
  background: url(Images/Ethereum.png);
  background-repeat: no-repeat;
  margin-left: 30px;
}

.btc-logo{
  background: url(Images/Bitcoin.png);
  background-repeat: no-repeat;
}

.usdt-logo{
  background: url(Images/tether.png);
  background-repeat: no-repeat;
  margin-left: 10px;
}

.widget-1{
  margin-left: 170px;
  margin-top: 2px;
}

.widget-2{
  margin-top: 10px;
  margin-left: 120px;
}
